menu "TGVR/Microphone"
    menu "GPIO"
        config SCK
            int "SCK pin"
            default 1

        config WS
            int "WS pin"
            default 2

        config SD
            int "SD pin"
            default 3
    endmenu

    menu "Audio"
        config SAMPLE_RATE
            int "Sample Rate"
            default 48000

        config WRITE_FREQ_MS
            int "Write Frequency (ms)"
            default 10

        config FILTER_BITS
            int "Number of lowest bits to remove"
            default 11
    endmenu
endmenu
